h1 {
    text-align: center;
}

.movie-list {
    margin: 30px;

    .movie-container {
        padding-left: 20px;
        background-color: beige;
        border-bottom: 2px solid black;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .movie-container:hover {
        background-color: bisque;
    }
}